### printing elemts of the list in case you know no.of rows and colums 
### or if the list is not a jagged list

In [4]:
# for Ex:-

li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]

# we now that the list have 3 rows and 4 columns
n=3
m=4
for i in range(n):
    for j in range(m):
        print(li[i][j],end=' ')
    print()

1 2 3 4
5 6 7 8
9 10 11 12

### If the list is a jagged list

In [8]:
# but the an=bove method fails if the list is a jagged list

li1=[[12,11,10,9],[5,6],[4,7,8,2,1,3,4],[100]]  # we can see that the 2-d list it can have any no.of columns in a row

# so how to print it beacuse using above method will definetly gives an error as m is not fixed

for row in li1:                # this will select the row
    for ele in row:           # this will select the element in that row 
         print(ele,end=' ')
    print()

12 11 10 9
5 6
4 7 8 2 1 3 4
100

### Concept of join function

In [10]:
# if you do x.join('bcd') the it will print  "bxcxd"  i.e every char of the string "bcd" is concatenated to x except the last
# last character of the string, here it is d

'x'.join('bcd')

'bxcxd'

In [12]:
'ab'.join("bcd")  # b is concate with ab then c id with ab and as d is the last ele so ab is not concatinated with it

'babcabd'

In [19]:
"ab".join(['1','2','3'])# ab concatednated with list of characters,we cannot concatenate integers with char so the list of chars

'1ab2ab3'

### now we can use this join function in order to print the list,

In [22]:
li2=[[12,11,10,9],[5,6],[4,7,8,2,1,3,4],[100]] 

for row in li2:
    output=" ".join([str(ele)for ele in row])   # we are using list comprehension
    print(output)
    
    # In the above line of code we iterate through each row in the li then go to every element in that row then,convert it into
    # str and then store it in the list i.e for first row ['12','11','10','9'] 
    # after that using the join function we will join each ele of the list with a space and store it in output
    # so after 1st isteration out output will be 12 11 10 9

12 11 10 9
5 6
4 7 8 2 1 3 4
100